<?xml version="1.0" encoding="utf-8"?>
<!--
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />

		<sessionState
    mode="InProc"
    cookieless="false"
    timeout="20"
    regenerateExpiredSessionId="true" />
	</system.web>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>

	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="AuthenticationServiceSoap">
     <security mode="Transport" />
    </binding>
    <binding name="AuthenticationServiceSoap1" />
    <binding name="UserServiceSoap">
     <security mode="Transport" />
    </binding>
    <binding name="UserServiceSoap1" />
    <binding name="ReportsServiceSoap">
     <security mode="Transport" />
    </binding>
    <binding name="ReportsServiceSoap1" />
    <binding name="InventoryServiceSoap">
     <security mode="Transport" />
    </binding>
    <binding name="InventoryServiceSoap1" />
    <binding name="OrdersServiceSoap">
     <security mode="Transport" />
    </binding>
    <binding name="OrdersServiceSoap1" />
    <binding name="ProductServiceSoap">
     <security mode="Transport" />
    </binding>
    <binding name="ProductServiceSoap1" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="https://localhost:44310/AuthenticationService.asmx"
    binding="basicHttpBinding" bindingConfiguration="AuthenticationServiceSoap"
    contract="AuthenticationServiceReference.AuthenticationServiceSoap"
    name="AuthenticationServiceSoap" />
   <endpoint address="https://localhost:44310/UserService.asmx"
    binding="basicHttpBinding" bindingConfiguration="UserServiceSoap"
    contract="UserServiceReference.UserServiceSoap" name="UserServiceSoap" />
   <endpoint address="https://localhost:44310/ReportsService.asmx"
    binding="basicHttpBinding" bindingConfiguration="ReportsServiceSoap"
    contract="ReportsServiceReference.ReportsServiceSoap" name="ReportsServiceSoap" />
   <endpoint address="https://localhost:44310/InventoryService.asmx"
    binding="basicHttpBinding" bindingConfiguration="InventoryServiceSoap"
    contract="InventoryServiceReference.InventoryServiceSoap" name="InventoryServiceSoap" />
   <endpoint address="https://localhost:44310/OrdersService.asmx"
    binding="basicHttpBinding" bindingConfiguration="OrdersServiceSoap"
    contract="OrdersServiceReference.OrdersServiceSoap" name="OrdersServiceSoap" />
   <endpoint address="https://localhost:44310/ProductService.asmx"
    binding="basicHttpBinding" bindingConfiguration="ProductServiceSoap"
    contract="ProductServiceReference.ProductServiceSoap" name="ProductServiceSoap" />
  </client>
	</system.serviceModel>
</configuration>
